<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" type="text/css">
  </head>
  <body>
    <button-title onclick="window.location.href='/'"><h1>Welcome to <span>Colorfy</span></h1><br></button-title>
    <h2>Spotify</h2><br>
    <button onclick="window.location.href='/spotify'"><h2>Spotify</h2></button>
    <button onclick="window.location.href='/manual'"><h2>Manual</h2></button>
    <button onclick="window.location.href='/off'"><h2>Turn off</h2></button><br>
    <div class="wrap">
      <h3>Color chosen by Spotify artwork</h3>
    </div>
  </body>
</html>
